# Data getter example

### 1. Initialize data getter
- Currently supports KRW-BTC and KRW-ETH

In [18]:
from sdk.data_getter import DataGetter

# Choose market code of interest
market_codes = ["KRW-BTC", "KRW-ETH"]
data_getter = DataGetter(market_codes=market_codes)

### 2. Check avaliable stats
- Write the date in isoformat string ("YYYY-MM-DD")

In [19]:
stats = data_getter.stats
stats

['price', 'bid_accumulation', 'ask_accumulation']

### 3. Request data
- Returns data in between start date and end date inclusive
- Return data format is dictionary of pandas Dataframe with key being market code of interest
    - data: Dict[str, pd.DataFrame]

In [20]:
start_date = '2022-06-10'
end_date = '2022-06-11'
stat = 'price'

data = data_getter.get_stat_range_data(stat, start_date, end_date)

In [22]:
print("KRW-BTC")
display(data['KRW-BTC'].head())
print("KRW-ETH")
display(data['KRW-ETH'].head())

KRW-BTC

   Trade date Trade time  trade_date
0  2022-06-11   07:41:43  37797000.0
1  2022-06-11   07:41:43  37797000.0
2  2022-06-11   07:41:43  37796000.0
3  2022-06-11   07:41:48  37796000.0
4  2022-06-11   07:41:49  37797000.0

KRW-ETH

   Trade date Trade time  trade_date
0  2022-06-11   07:41:45   2151000.0
1  2022-06-11   07:41:46   2151000.0
2  2022-06-11   07:41:46   2151000.0
3  2022-06-11   07:41:55   2151000.0
4  2022-06-11   07:41:55   2151000.0